{% extends "base.html" %}

{% block title %}
My project
{% endblock %}

{% block bodycontent %}
<h2>Ghost</h2>
<div class="panel-group">
    <div class="panel panel-success">
      <div class="panel-heading">Container images</div>
      <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Ghost Settings</div>
      <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">Database Settings</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
{% endblock %}